Wpf472/Connected Services/ServiceReference1/hello1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/hello?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.Interfaces" />
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayFrom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SayFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayFromResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared.Interfaces" minOccurs="0" name="GetDetailObjectResult" nillable="true" type="q1:DetailObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>